.makeCenter{
	margin: inherit;
	padding-top: 60px;
	padding-left: 450px;
	padding-bottom: 20px;
}

#formDiv{
	margin-left: 150px;
	padding-top: auto;
	padding-right: 20px;
}

.form-size{
	padding-left: 250px;
	margin-right: 350px;
}